<div class="intoro">
  <h2>診断結果</h2>
  <p>あなたにおすすめのお土産は…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4].map(&:to_s) %>
  <% when ["1","1", "1","1"] %>
      <h1>北海道: 白い恋人</h1>
      <h1>福島県: 会津木彫りの熊</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "1","2"] %>
      <h1>青森県: ねぶたの手拭い</h1>
      <h1>山形県: 米沢織ストラップ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "1","3"] %>
      <h1>岩手県: 盛岡冷麺セット</h1>
      <h1>秋田県: こまくさ工芸の小物</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "1","4"] %>
      <h1>宮城県: 仙台七夕のストラップ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "2","1"] %>
      <h1>茨城県: 常陸牛の革製品</h1>
      <h1>千葉県: 銚子電鉄のグッズセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "2","2"] %>
      <h1>埼玉県: 川越の時の鐘レプリカ</h1>
      <h1>栃木県: 宇都宮餃子の形のキーホルダー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "2","3"] %>
      <h1>群馬県: 伊香保温泉手ぬぐい</h1>
      <h1>神奈川県: 横浜中華街の食器セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "2","4"] %>
      <h1>東京都: 浅草寺のお守り</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "3","1"] %>
      <h1>新潟県: 佐渡島の金箔工芸品</h1>
      <h1>岐阜県: 飛騨の工芸品</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "3","2"] %>
      <h1>福井県: 九頭龍神社の御朱印帳</h1>
      <h1>山梨県: 富士山形グラス</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "3","3"] %>
      <h1>石川県: 金沢金箔の小皿</h1>
      <h1>長野県: 信州そば打ちセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","1", "3","4"] %>
      <h1>富山県: 立山連峰の写真集</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "1","1"] %>
      <h1>滋賀県: 彦根城のクリアファイル</h1>
      <h1>兵庫県: 姫路城の模型キット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "1","2"] %>
      <h1>愛知県: 名古屋コーチンのエコバッグ</h1>
      <h1>京都府: 京都清水焼の箸置き</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "1","3"] %>
      <h1>三重県: 伊勢神宮の神札ホルダー</h1>
      <h1>大阪府: 大阪たこ焼き形メモパッド</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "1","4"] %>
      <h1>静岡県: 静岡抹茶のティーバッグ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "2","1"] %>
      <h1>奈良県: 奈良の鹿せんべい形コースター</h1>
      <h1>和歌山県: 紀州の梅製品</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "2","2"] %>
      <h1>鳥取県: 鳥取砂丘の砂のアート</h1>
      <h1>岡山県: 倉敷美観地区の手ぬぐい</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "2","3"] %>
      <h1>広島県: 宮島のしゃもじセット</h1>
      <h1>山口県: 門司港のレトログッズ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "2","4"] %>
      <h1>島根県: 出雲大社の御朱印帳</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "3","1"] %>
      <h1>徳島県: 阿波踊りのDVDセット</h1>
      <h1>香川県: 讃岐うどん作りキット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "3","2"] %>
      <h1>愛媛県: 松山の坊っちゃん石鹸</h1>
      <h1>高知県: 高知の土佐刀ペーパーナイフ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "3","3"] %>
      <h1>福岡県: 博多織のクラッチバッグ</h1>
      <h1>佐賀県: 有田焼のカップ＆ソーサー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","2", "3","4"] %>
      <h1>長崎県: 出島の歴史小冊子</h1>
      <h1>熊本県: 熊本城の立体ポストカード</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "1","1"] %>
      <h1>和歌山県: 紀州南高梅の形のキーホルダー</h1>
      <h1>鳥取県: 鳥取砂丘の砂のボトル</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "1","2"] %>
      <h1>島根県: 出雲大社のお守りペンダント</h1>
      <h1>山口県: 関門海峡の風景画</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "1","3"] %>
      <h1>広島県: 宮島鳥居のミニチュア</h1>
      <h1>香川県: 讃岐うちわの装飾品</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "1","4"] %>
      <h1>岡山県: 岡山桃の形の磁石</h1>
      <h1>徳島県: 阿波踊りの飾り小物</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "2","1"] %>
      <h1>愛媛県: 今治タオルの手作りアクセサリーキット</h1>
      <h1>佐賀県: 有田焼のプレート</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "2","2"] %>
      <h1>高知県: 土佐和紙の壁掛けアート</h1>
      <h1>長崎県: グラバー園のジオラマ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "2","3"] %>
      <h1>福岡県: 博多人形の装飾品</h1>
      <h1>熊本県: 熊本城のシルエットフレーム</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "2","4"] %>
      <h1>熊本県: 熊本城のシルエットフレーム</h1>
      <h1>鹿児島県: 桜島の火山灰ガラス工芸品</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "3","1"] %>
      <h1>大分県: 別府温泉のミニチュア風呂セット</h1>
      <h1>佐賀県: 有田焼のカップ＆ソーサー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "3","2"] %>
      <h1>宮崎県: 日向夏をモチーフにした陶磁器</h1>
      <h1>長崎県: グラバー園のジオラマ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "3","3"] %>
      <h1>沖縄県: 琉球ガラスのアート作品</h1>
      <!--- <h1>香川県: 讃岐うちわの装飾品</h1> --->
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","3", "3","4"] %>
      <h1>鹿児島県: 桜島の火山灰ガラス工芸品</h1>
      <h1>徳島県: 阿波踊りの飾り小物</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
  <% when ["1","4", "1","1"] %>
      <h1>青森県: 弘前城の折りたたみカード</h1>
      <h1>秋田県: 秋田犬のぬいぐるみコレクション</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "1","2"] %>
      <h1>岩手県: 盛岡の南部鉄器ミニチュア</h1>
      <h1>福島県: 会津塗りの栞セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "1","3"] %>
      <h1>宮城県: 松島の風景印集めスタンプ</h1>
      <h1>茨城県: 筑波山のミニチュア</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "1","4"] %>
      <h1>山形県: 山形のさくらんぼモチーフグッズ</h1>
      <h1>群馬県: 群馬の名湯入浴剤コレクション</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "2","1"] %>
      <h1>栃木県: 日光の歴史建築ポストカードセット</h1>
      <h1>千葉県: 千葉の海岸線写真集</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "2","2"] %>
      <h1>埼玉県: 川越の時の鐘記念コイン</h1>
      <h1>東京都: 江戸時代の浮世絵複製版セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "2","3"] %>
      <h1>神奈川県: 横浜開港資料写真コレクション</h1>
      <h1>新潟県: 越後雪景色のオリジナル絵画</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "2","4"] %>
      <h1>石川県: 金沢箔の手作り工芸品</h1>
      <h1>福井県: 越前和紙のアート作品</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "3","1"] %>
      <h1>富山県: 黒部ダムのスケールモデル</h1>
      <h1>長野県: 信州りんごの品種コレクション</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "3","2"] %>
      <h1>山梨県: 富士山の四季写真フレームセット</h1>
      <h1>岐阜県: 飛騨の工芸品セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "3","3"] %>
      <h1>大分県: 別府温泉のミニチュア風呂セット</h1>
      <h1>宮崎県: 日向夏をモチーフにした陶磁器</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["1","4", "3","4"] %>
      <h1>鹿児島県: 桜島の火山灰ガラス工芸品</h1>
      <h1>沖縄県: 琉球ガラスのアート作品</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","1", "1"] %>
      <h1>北海道: 富良野ラベンダーの小袋</h1>
      <h1>岩手県: 盛岡冷麺</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","1", "2"] %>
      <h1>宮城県: 松島湾の写真入りしおり</h1>
      <h1>福島県: 磐梯山のミニチュアモデル</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","1", "3"] %>
      <h1>山形県: 蔵王温泉の湯の花入り石けん</h1>
      <h1>茨城県: 大洗海岸のシェルフレーム</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","1", "4"] %>
      <h1>青森県: 八甲田山の自然写真ポストカード</h1>
      <h1>秋田県: 秋田杉の箸</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","2", "1"] %>
      <h1>栃木県: 日光国立公園の自然ガイドブック</h1>
      <h1>千葉県: 鋸山の風景写真セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","2", "2"] %>
      <h1>埼玉県: 秩父夜祭の写真アルバム</h1>
      <h1>神奈川県: 箱根山の自然散歩マップ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","2", "3"] %>
      <h1>群馬県: 草津温泉の湯の花塩</h1>
      <h1>東京都: 多摩川の石を使用したペーパーウェイト</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","2", "4"] %>
      <h1>新潟県: 佐渡島の金箔入りクリスタルグラス</h1>
      <h1>石川県: 能登半島の海岸線ジオラマ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","3", "1"] %>
      <h1>富山県: 立山黒部アルペンルートの写真集</h1>
      <h1>山梨県: 富士山の溶岩石ランプ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","3", "2"] %>
      <h1>長野県: 上高地の自然景色カレンダー</h1>
      <h1>岐阜県: 飛騨高山の木彫りクマ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","3", "3"] %>
      <h1>福井県: 丹生ダム湖の写真入りウォールアート</h1>
      <h1>長野県: 上高地の自然景色カレンダー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2", "1","3", "4"] %>
      <h1>福井県: 丹生ダム湖の写真入りウォールアート</h1>
      <h1>石川県: 能登半島の海岸線ジオラマ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
  <% when ["2","2", "1","1"] %>
      <h1>静岡県: 伊豆半島の海藻入りバスソルト</h1>
      <h1>愛知県: 三河湾の貝殻入りキーホルダー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "1","2"] %>
      <h1>三重県: 伊勢志摩の真珠入りコスメセット</h1>
      <h1>京都府: 嵐山の竹林の写真入り扇子</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "1","3"] %>
      <h1>大阪府: 泉州タオル</h1>
      <h1>兵庫県: 淡路島の玉ねぎ形ストラップ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "1","4"] %>
      <h1>滋賀県: 琵琶湖の水をモチーフにしたグラス</h1>
      <h1>鳥取県: 鳥取砂丘の砂時計</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "2","1"] %>
      <h1>奈良県: 奈良公園の鹿の形のクッション</h1>
      <h1>岡山県: 吉備高原の果物ジャムセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "2","2"] %>
      <h1>和歌山県: 白浜温泉の入浴剤セット</h1>
      <h1>島根県: 出雲大社のお守りストラップ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "2","3"] %>
      <h1>広島県: 宮島のもみじ饅頭</h1>
      <h1>山口県: 関門海峡のマリンアクセサリー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "2","4"] %>
      <h1>群馬県: 草津温泉の湯の花塩</h1>
      <h1>広島県: 宮島のもみじ饅頭</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "3","1"] %>
      <h1>徳島県: 鳴門の渦潮写真入り時計</h1>
      <h1>香川県: 瀬戸内海の天然塩セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "3","2"] %>
      <h1>高知県: 土佐清水の海鮮珍味セット</h1>
      <h1>愛媛県: 松山城の模型キット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "3","3"] %>
      <h1>福岡県: 大濠公園の風景写真フレーム</h1>
      <h1>長崎県: 雲仙地獄の写真集</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","2", "3","4"] %>
      <h1>佐賀県: 唐津くんちの陶器小物</h1>
      <h1>熊本県: 阿蘇山の火山灰せっけん</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
  <% when ["2","3", "1","1"] %>
      <h1>奈良県: 春日大社の鹿の形の磁石</h1>
      <h1>和歌山県: 紀伊半島の海岸写真入りコースター</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "1","2"] %>
      <h1>島根県: 出雲大社の小さな鳥居のレプリカ</h1>
      <h1>広島県: 原爆ドームのミニチュア模型</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "1","3"] %>
      <h1>鳥取県: 鳥取砂丘の砂の絵</h1>
      <h1>岡山県: 吉備高原の自然写真入りカレンダー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "1","4"] %>
      <h1>山口県: 関門海峡の風景画</h1>
      <h1>鳥取県: 鳥取砂丘の砂の絵</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "2","1"] %>
      <h1>徳島県: 鳴門の渦潮の写真入り壁掛け</h1>
      <h1>香川県: 瀬戸内海のサンセット写真フレーム</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "2","2"] %>
      <h1>高知県: 四万十川の流れ模様の陶器</h1>
      <h1>福岡県: 太宰府天満宮の梅の絵が描かれた小皿</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "2","3"] %>
      <h1>長崎県: 長崎港の夜景写真入りランプ</h1>
      <h1>愛媛県: 松山城の風景写真入り時計</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "2","4"] %>
      <h1>佐賀県: 唐津焼の小物入れ</h1>
      <h1>愛媛県: 松山城の風景写真入り時計</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "3","1"] %>
      <h1>熊本県: 阿蘇山の絵画</h1>
      <h1>大分県: 別府温泉の源泉石を使用したオーナメント</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "3","2"] %>
      <h1>鹿児島県: 桜島の火山灰ガラスアート</h1>
      <h1>熊本県: 阿蘇山の絵画</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "3","3"] %>
      <h1>宮崎県: 青島の神話絵画</h1>
      <h1>沖縄県: 琉球ガラスの装飾品セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","3", "3","4"] %>
      <h1>沖縄県: 琉球ガラスの装飾品セット</h1>
      <h1>宮崎県: 青島の神話絵画</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
  <% when ["2","4", "1","1"] %>
      <h1>北海道: 釧路湿原の写真入りポストカードセット</h1>
      <h1>青森県: 八甲田山の自然採集品セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "1","2"] %>
      <h1>岩手県: 龍泉洞の鍾乳石レプリカ</h1>
      <h1>宮城県: 松島湾の風景写真集</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "1","3"] %>
      <h1>秋田県: 田沢湖の伝説の物語ブック</h1>
      <h1>山形県: 蔵王の紅葉写真ステッカーセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "1","4"] %>
      <h1>福島県: 会津の伝統工芸品コレクション</h1>
      <h1>群馬県: 草津温泉の湯の花コレクション</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "2","1"] %>
      <h1>茨城県: 大洗海岸の貝殻コレクションキット</h1>
      <h1>千葉県: 館山の海岸線風景写真入りノート</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "2","2"] %>
      <h1>栃木県: 中禅寺湖の写真入りジグソーパズル</h1>
      <h1>埼玉県: 秩父夜祭りの写真と説明書のセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "2","3"] %>
      <h1>東京都: 多摩川の自然散策ガイドブック</h1>
      <h1>神奈川県: 横浜港の歴史ポスターコレクション</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "2","4"] %>
      <h1>新潟県: 佐渡島の名所写真フレームセット</h1>
      <h1>石川県: 能登半島の自然と文化の写真集</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "3","1"] %>
      <h1>富山県: 立山連峰の四季折々の風景写真</h1>
      <h1>長野県: 信州の自然探訪ガイドと写真</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "3","2"] %>
      <h1>福井県: 越前海岸の写真と貝殻セット</h1>
      <h1>岐阜県: 飛騨山脈の写真集</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "3","3"] %>
      <h1>静岡県: 伊豆半島の海岸写真と地図</h1>
      <h1>愛知県: 三河湾の海の生き物図鑑</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["2","4", "3","4"] %>
      <h1>三重県: 伊勢志摩の海岸写真アルバム</h1>
      <h1>滋賀県: 琵琶湖の四季の写真集</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
      
  <% when ["3", "1","1", "1"] %>
      <h1>京都: 京漬物の小袋詰め合わせ</h1>
      <h1>沖縄: サンプルサイズの黒糖セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","1", "2"] %>
      <h1>北海道: ミニサイズの羊羹セット</h1>
      <h1>静岡: お茶の試飲パックセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","1", "3"] %>
      <h1>沖縄: サンプルサイズの黒糖セット</h1>
      <h1>京都: 京漬物の小袋詰め合わせ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","1", "4"] %>
      <h1>静岡: お茶の試飲パックセット</h1>
      <h1>北海道: ミニサイズの羊羹セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","2", "1"] %>
      <h1>奈良: 鹿せんべいのアソートセット</h1>
      <h1>長崎: カステラ小切れセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","2", "2"] %>
      <h1>群馬: こんにゃくゼリーギフトボックス</h1>
      <h1>広島: もみじ饅頭のバラエティパック</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","2", "3"] %>
      <h1>長崎: カステラ小切れセット</h1>
      <h1>奈良: 鹿せんべいのアソートセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","2", "4"] %>
      <h1>広島: もみじ饅頭のバラエティパック</h1>
      <h1>群馬: こんにゃくゼリーギフトボックス</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","3", "1"] %>
      <h1>神戸: フルーツゼリーのプレミアムセット</h1>
      <h1>京都: 抹茶スイーツの高級アソート</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","3", "2"] %>
      <h1>東京: 老舗和菓子店の高級羊羹セット</h1>
      <h1>北海道: 高級海産物詰め合わせセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","3", "3"] %>
      <h1>京都: 抹茶スイーツの高級アソート</h1>
      <h1>神戸: フルーツゼリーのプレミアムセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "1","3", "4"] %>
      <h1>北海道: 高級海産物詰め合わせセット</h1>
      <h1>東京: 老舗和菓子店の高級羊羹セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
  <% when ["3","2", "1","1"] %>
      <h1>宮城: カラフルな笹かまぼこのセット</h1>
      <h1>山梨: フルーツジャムのミニセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","2", "1","2"] %>
      <h1>石川: 小さな能登塩セット</h1>
      <h1>秋田: ねぶた漬け小瓶セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","2", "1","3"] %>
      <h1>山梨: フルーツジャムのミニセット</h1>
      <h1>宮城: カラフルな笹かまぼこのセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","2", "1","4"] %>
      <h1>秋田: ねぶた漬け小瓶セット</h1>
      <h1>石川: 小さな能登塩セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","2", "2","1"] %>
      <h1>大分: からし蓮根の詰め合わせ</h1>
      <h1>徳島: 阿波晩茶のギフトボックス</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "2","2", "2"] %>
      <h1>佐賀: 乾燥海苔のギフトセット</h1>
      <h1>長野: 信州りんごジュースのアソート</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "2","2", "3"] %>
      <h1>徳島: 阿波晩茶のギフトボックス</h1>
      <h1>大分: からし蓮根の詰め合わせ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "2","2", "4"] %>
      <h1>長野: 信州りんごジュースのアソート</h1>
      <h1>佐賀: 乾燥海苔のギフトセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "2","3", "1"] %>
      <h1>青森: りんごジャムの高級セット</h1>
      <h1>熊本: 馬刺しの贅沢セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "2","3", "2"] %>
      <h1>和歌山: 梅干しのプレミアムセレクション</h1>
      <h1>島根: 松茸の瓶詰め高級セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "2","3", "3"] %>
      <h1>熊本: 馬刺しの贅沢セット</h1>
      <h1>青森: りんごジャムの高級セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3", "2","3", "4"] %>
      <h1>島根: 松茸の瓶詰め高級セット</h1>
      <h1>和歌山: 梅干しのプレミアムセレクション</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "1","1"] %>
      <h1>広島: レモンの形をしたクッキーセット</h1>
      <h1>大阪: たこ焼き形のキーホルダーセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "1","2"] %>
      <h1>長崎: カステラのミニチュアマグネット</h1>
      <h1>福岡: ミニメントスの海苔パック</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "1","3"] %>
      <h1>大阪: たこ焼き形のキーホルダーセット</h1>
      <h1>広島: レモンの形をしたクッキーセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "1","4"] %>
      <h1>福岡: ミニメントスの海苔パック</h1>
      <h1>長崎: カステラのミニチュアマグネット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "2","1"] %>
      <h1>神奈川: 横浜中華街の食品サンプルキーホルダー</h1>
      <h1>岐阜: 飛騨牛カレーセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "2","2"] %>
      <h1>京都: 抹茶トリュフのギフトボックス</h1>
      <h1>三重: 伊勢海老クラッカーギフト</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "2","3"] %>
      <h1>岐阜: 飛騨牛カレーセット</h1>
      <h1>神奈川: 横浜中華街の食品サンプルキーホルダー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "2","4"] %>
      <h1>三重: 伊勢海老クラッカーギフト</h1>
      <h1>京都: 抹茶トリュフのギフトボックス</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "3","1"] %>
      <h1>福井: お菓子の形のプレミアム陶器セット</h1>
      <h1>岡山: 白桃の形をした磁器セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "3","2"] %>
      <h1>神戸: 高級スイーツのデコレーションセット</h1>
      <h1>鹿児島: 黒豚肉の高級ギフトセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "3","3"] %>
      <h1>岡山: 白桃の形をした磁器セット</h1>
      <h1>福井: お菓子の形のプレミアム陶器セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","3", "3","4"] %>
      <h1>鹿児島: 黒豚肉の高級ギフトセット</h1>
      <h1>神戸: 高級スイーツのデコレーションセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
  <% when ["3","4", "1","1"] %>
      <h1>滋賀: びわ湖の魚形のクッキー</h1>
      <h1>奈良: 鹿せんべいのミニコレクション</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "1","2"] %>
      <h1>高知: 土佐文旦のジェリーミニパック</h1>
      <h1>山口: ふぐ形の塩せんべいセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "1","3"] %>
      <h1>奈良: 鹿せんべいのミニコレクション</h1>
      <h1>滋賀: びわ湖の魚形のクッキー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "1","4"] %>
      <h1>山口: ふぐ形の塩せんべいセット</h1>
      <h1>高知: 土佐文旦のジェリーミニパック</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "2","1"] %>
      <h1>石川: 金箔入りのお菓子セット</h1>
      <h1>茨城: 納豆キーチェーンのセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "2","2"] %>
      <h1>栃木: いちごの形をしたお菓子のセット</h1>
      <h1>鳥取: 砂丘クッキーのアソートセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "2","3"] %>
      <h1>茨城: 納豆キーチェーンのセット</h1>
      <h1>石川: 金箔入りのお菓子セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "2","4"] %>
      <h1>鳥取: 砂丘クッキーのアソートセット</h1>
      <h1>栃木: いちごの形をしたお菓子のセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "3","1"] %>
      <h1>富山: 白えびの形をした高級クッキーセット</h1>
      <h1>山形: さくらんぼの形をしたデザートセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "3","2"] %>
      <h1>福島: 桃の形をしたプレミアムスイーツセット</h1>
      <h1>新潟: 高級米菓子のセレクション</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "3","3"] %>
      <h1>山形: さくらんぼの形をしたデザートセット</h1>
      <h1>富山: 白えびの形をした高級クッキーセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["3","4", "3","4"] %>
      <h1>新潟: 高級米菓子のセレクション</h1>
      <h1>福島: 桃の形をしたプレミアムスイーツセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
  <% when ["4", "1","1", "1"] %>
      <h1>京都: 折り紙セット</h1>
      <h1>東京: 浮世絵ポストカードセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","1", "2"] %>
      <h1>奈良: 仏像のミニチュア</h1>
      <h1>福岡: 博多人形のキーホルダー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","1", "3"] %>
      <h1>東京: 浮世絵ポストカードセット</h1>
      <h1>奈良: 印鑑の彫刻体験券</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","1", "4"] %>
      <h1>福岡: 博多人形のキーホルダー</h1>
      <h1>金沢: 金箔のしおり</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","2", "1"] %>
      <h1>富山: 伝統的な和紙工作キット</h1>
      <h1>伊勢: 神社お守りと絵馬セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","2", "2"] %>
      <h1>金沢: 金箔置き紙セット</h1>
      <h1>熊本: 熊本城3Dパズル</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","2", "3"] %>
      <h1>伊勢: 珠算の体験キット</h1>
      <h1>高山: さるぼぼのぬいぐるみ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","2", "4"] %>
      <h1>熊本: 熊本城3Dパズル</h1>
      <h1>北海道: アイヌ文様のクロス</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","3", "1"] %>
      <h1>札幌: アイヌ文様の布製品</h1>
      <h1>静岡: 富士山ガラスアート</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","3", "2"] %>
      <h1>高山: 高山漆器の小皿セット</h1>
      <h1>石川: 加賀友禅のハンカチ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","3", "3"] %>
      <h1>静岡: 富士山ガラスアート</h1>
      <h1>札幌: アイヌ文様の布製品</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "1","3", "4"] %>
      <h1>石川: 加賀友禅のハンカチ</h1>
      <h1>高山: 高山漆器の小皿セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
  <% when ["4","2", "1","1"] %>
      <h1>大阪: たこ焼き形の消しゴム</h1>
      <h1>鹿児島: さつま焼きのマグカップ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","2", "1","2"] %>
      <h1>福岡: 博多人形のペーパーウェイト</h1>
      <h1>長崎: 出島の陶磁器の小皿</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","2", "1","3"] %>
      <h1>鹿児島: さつま焼きのマグカップ</h1>
      <h1>広島: 紙風船 (伝統的な絵柄)</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","2", "1","4"] %>
      <h1>長崎: 出島の陶磁器の小皿</h1>
      <h1>京都: 抹茶ティーバッグ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","2", "2","1"] %>
      <h1>沖縄: シーサーの彩色体験キット</h1>
      <h1>石川: 九谷焼の小鉢</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "2","2", "2"] %>
      <h1>信州: 木曽漆器の箸セット</h1>
      <h1>京都: 和紙で作った手帳</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "2","2", "3"] %>
      <h1>石川: 九谷焼の小鉢</h1>
      <h1>東京: 江戸切子のペーパーウェイト</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "2","2", "4"] %>
      <h1>京都: 和紙で作った手帳</h1>
      <h1>鳥取: 砂丘クッキーのアソートセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "2","3", "1"] %>
      <h1>東京: 江戸切子の体験教室チケット</h1>
      <h1>岡山: 備前焼のティーポットセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "2","3", "2"] %>
      <h1>岐阜: 飛騨家具の小物入れ</h1>
      <h1>静岡: 富士山の形をした茶器セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "2","3", "3"] %>
      <h1>岡山: 備前焼のティーポットセット</h1>
      <h1>東京: 江戸切子の体験教室チケット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "2","3", "4"] %>
      <h1>静岡: 富士山の形をした茶器セット</h1>
      <h1>岐阜: 飛騨家具の小物入れ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
  <% when ["4","3", "1","1"] %>
      <h1>那覇: シーサーのマグネット</h1>
      <h1>松江: 出雲大社の絵葉書</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","3", "1","2"] %>
      <h1>函館: アイヌ文様のブレスレット</h1>
      <h1>山口: 萩焼の小鉢</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","3", "1","3"] %>
      <h1>松江: 出雲大社の絵葉書</h1>
      <h1>秋田: なまはげのマスク</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","3", "1","4"] %>
      <h1>山口: 萩焼の小鉢</h1>
      <h1>大分: 別府竹細工のペンスタンド</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","3", "2","1"] %>
      <h1>秋田: なまはげのマスク</h1>
      <h1>鳥取: 砂丘ガラスの小物入れ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","3", "2","2"] %>
      <h1>高知: 土佐和紙の壁掛け</h1>
      <h1>大分: 別府竹細工のペンスタンド</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","3", "2","3"] %>
      <h1>高知: 土佐和紙の壁掛け</h1>
      <h1>秋田: なまはげのマスク</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","3", "2","4"] %>
      <h1>大分: 別府竹細工のペンスタンド</h1>
      <h1>鳥取: 砂丘ガラスの小物入れ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","3", "3","1"] %>
      <h1>弘前: 津軽びいどろの花瓶</h1>
      <h1>高知: 土佐和紙の壁掛け</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","3", "3","2"] %>
      <h1>京都: 西陣織のクッションカバー</h1>
      <h1>姫路: 姫路革のデスクマット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "3","3", "3"] %>
      <h1>長崎: 出島焼のテーブルランプ</h1>
      <h1>弘前: 津軽びいどろの花瓶</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4", "3","3", "4"] %>
      <h1>姫路: 姫路革のデスクマット</h1>
      <h1>京都: 西陣織のクッションカバー</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
  <% when ["4","4", "1","1"] %>
      <h1>宮城: こけし人形</h1>
      <h1>富山: 立山連峰の写真ポストカードセット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "1","2"] %>
      <h1>青森: 弘前ねぷたのミニチュア</h1>
      <h1>滋賀: 彦根城の模型</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "1","3"] %>
      <h1>富山: 立山連峰の写真ポストカードセット</h1>
      <h1>山口: 萩焼の小物セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "1","4"] %>
      <h1>滋賀: 彦根城の模型</h1>
      <h1>愛媛: 松山城のレプリカ</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "2","1"] %>
      <h1>山口: 萩焼の小物セット</h1>
      <h1>徳島: 阿波踊りの人形</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "2","2"] %>
      <h1>徳島: 阿波踊りの人形</h1>
      <h1>島根: 出雲大社のお守りと御朱印帳</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "2","3"] %>
      <h1>島根: 出雲大社のお守りと御朱印帳</h1>
      <h1>鳥取: 砂丘の形をした砂のアート</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "2","4"] %>
      <h1>愛媛: 松山城のレプリカ</h1>
      <h1>兵庫: 姫路城の高級模型</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "3","1"] %>
      <h1>鳥取: 砂丘の形をした砂のアート</h1>
      <h1>福島: 会津漆器の文房具セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "3","2"] %>
      <h1>兵庫: 姫路城の高級模型</h1>
      <h1>長野: 善光寺の仏像のコレクション</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "3","3"] %>
      <h1>長野: 善光寺の仏像のコレクション</h1>
      <h1>福島: 会津漆器の文房具セット</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>

  <% when ["4","4", "3","4"] %>
      <h1>福島: 会津漆器の文房具セット</h1>
      <h1>兵庫: 姫路城の高級模型</h1>
      <p>※これらはあなたの求めるお土産の特徴を持った類似商品です！<br>　参考にしてください！</p>
  
    
  <%# 以下、他の組み合わせに基づく提案を追加してください %>
  <% end %>
</div>
<!-- <%= link_to "一覧に戻る", souvenirs_path %> -->
<!-- <%= link_to "イチオシ一覧へ", souvenir_ichiosi_path %> -->