.souvenir-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .souvenir-details {
    margin-top: 20px;
  }
  
  .souvenir-divider {
    height: 2px;
    background: #ccc;
    width: 80%;
    margin: 20px auto;
  }
  